.cardContainer {
  padding: 0 0 0 26px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  place-content: space-between;
  display: flex;
}
.cardContainer:hover {
  opacity: 0.5;
}
.cardContent {
  display: grid;
  width: 90%;
  text-decoration: none;
  text-align: left;
  align-self: normal;
}

.cardIcon {
  place-self: center;
  height: 100%;
  display: grid;
  align-items: center;
  padding: 0 20px;
  background-color: #60606036;
}

.newsHeader {
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
  padding-top: 0.5rem;
}

.newstitle {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
  padding: 0.5rem;
}
